.about-row {
    margin-bottom: 5%
}

.about-editor img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-editor #collapse-button {
    display: block;
    margin: auto;
}

.about-editor-name {
    margin-top: .6%;
    margin-bottom: 1.5%
}

.about-editor-name h3 {
    text-align: center;
    margin-bottom: 0px;
}

.about-editor-name p {
    display: block;
    font-size: .75rem;
    text-align: center;
    margin-bottom: 0px;
    /*
    text-align: center;
    font-size: .9em;
    font-weight: 400;*/
}

a.nav-link {
    cursor: pointer;
}

.bulma-help {
    display: block;
    font-size: .75rem;
    margin-top: .25rem;
}

.cc-license a {
    text-decoration: none;
}

.cc-license img {
    vertical-align: middle;
    width: 20px;
    opacity: 0.7;
    filter: alpha(opacity=70); /* msie */
}

.cc-license:hover img {
    vertical-align: middle;
    width: 20px;
    opacity: 1;
    filter: alpha(opacity=100); /* msie */
}

footer {
    background-color: #f8f9fa;
    padding: 1.5% 4% 0% 4%;
    position: absolute;
    width: 100%;
    height: 275px;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.footer-licenses {
    font-size: 12px;
}

.footer-licenses a {
    font-size: 12px;
}

.footer-nav-links a {
    cursor: pointer;
}

.footer-social-link img {
    width: 20px;
    vertical-align: middle;
}

.footer-social-link a {
    vertical-align: middle;
    display: inline;
    padding: .5rem 1rem;
}

.footer-social-link div {
    margin: .5rem 1rem;
    margin-bottom: 1rem;
}

.footer-dev-credit {
    font-size: 10px;
}

.footer-dev-credit a {
    font-size: 10px;
}

html {
    position: relative;
    min-height: 100%;
}

#site-container {
    margin: 1.5% 15% 15% 400px;
}

.urcg-logo {
    width: 20px;
    height: 30px;
    padding: 1% 2%;
}

#home-content .col {
    margin-top: 1.5%;
    padding-left: 8%;
    padding-right: 8%;
}

#funding-sources {
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}

#funding-sources h3 {
    margin-top: 1.5%;
    margin-bottom: 2%;
}

#funding-sources hr {
    margin-top: 0px;
}

#funding-sources .row {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

#other-resources-list {
    width: 70%;
    margin: 2.5% auto 0 auto;
}

#other-resources-list img {
    width: 100%
}

#other-resources-list .row {
    margin-bottom: 5%;
}

#what-is-this {
    width: 70%;
    margin: 0 auto 3% auto;

}

#what-is-this p {
    margin-bottom: .8%
}

.full-width {
    margin-left: -47%;
    margin-right: -40%;
}

#what-is-this_timelines {
    margin-top: 4%;
}

#what-is-this_timelines table {
    margin-bottom: 5%;
}

#why-is-it-important {
    width: 72%;
    margin: 0 auto;
}

#why-is-it-important pre {
    text-align: left;
    background: #f8f9fa;
    border-radius: 7px;
    width: 100%;
    margin: 2% inherit 1% inherit;
    padding-top: 1%;
}

#why-is-it-important hr {
    width: 100px;
    color: #000;
    background-color: #000;
}

#why-is-it-important ul p {
    font-weight: 600;
}

#why-is-it-important ul li {
    margin-bottom: 1%
}
